.nazmulPic{
    -fx-background-image: url("file:src/main/resources/com/bitguard/bitguard/images/nazmul1.png");
    -fx-background-image: url("file:src/main/resources/com/bitguard/bitguard/images/q1.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 125px;
}

.fuadPic{
    -fx-background-image: url("file:src/main/resources/com/bitguard/bitguard/images/fuad1.png");
    -fx-background-image: url("file:src/main/resources/com/bitguard/bitguard/images/q2.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 125px;
}